<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 모델 클래스에 대한 풀패키지명 넘나 길고 부담스러우니깐 별칭 -->
	<typeAliases>
		<typeAlias type="com.ssafy.vote.dto.VoteVO" alias="vote" />
		<typeAlias type="com.ssafy.vote.dto.VoterVO" alias="voter" />
		<typeAlias type="com.ssafy.vote.dto.CandidateVO" alias="candi" />
		<typeAlias type="com.ssafy.vote.dto.AreaVO" alias="area" />
		<typeAlias type="com.ssafy.vote.dto.MainpartVO" alias="main" />
		<typeAlias type="com.ssafy.vote.dto.MiddlepartVO" alias="middle" />
		<typeAlias type="com.ssafy.vote.dto.VotetfVO" alias="votetf" />
		<typeAlias type="com.ssafy.vote.dto.PartyVO" alias="party" />
		<typeAlias type="com.ssafy.vote.dto.StatisticsVO" alias="stati" />
	</typeAliases>
	<!-- 디비연결정보는 스프링이 연동하면서 생략가능 -->

	<!-- 매퍼파일들의 위치 -->
	<mappers>
		<mapper resource="voteMapper.xml" />
		<mapper resource="voterMapper.xml" />
		<mapper resource="candiMapper.xml" />
		<mapper resource="areaMapper.xml" />
		<mapper resource="mainpartMapper.xml" />
		<mapper resource="middlepartMapper.xml" />
		<mapper resource="votetfMapper.xml" />
		<mapper resource="partyMapper.xml" />
		<mapper resource="statisticsMapper.xml" />
	</mappers>
</configuration>