<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vote">
	<resultMap id="vote" type="vote">
		<id property="code" column="code" />
		<result property="name" column="name" />
		<result property="middlepart" column="middlepart" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<association property="middlepartVO" javaType="com.ssafy.vote.dto.MiddlepartVO">
			<result property="name" column="middleName" />
		</association>
	</resultMap>

	<select id="getVoteAllList" resultType="vote">
		select * from vote;
	</select>
	<select id="getVoteActiveList" resultMap="vote">
		SELECT
			v.code,
			v.name,
			v.middlepart,
			v.start,
			v.end,
			m.name as middleName
		FROM 
			vote v join middlepart m ON v.middlepart = m.code
		WHERE 
			NOW() BETWEEN v.start AND v.end
	</select>
	<insert id="insertVote" parameterType="vote">
		insert into vote(name, middlepart, start, end)
		values(#{name}, #{middlepart}, #{start}, #{end});
	</insert>
	<delete id="delVote" parameterType="int">
		delete from vote where code = #{code};
	</delete>
	<update id="updateVote" parameterType="vote">
		update vote 
		set name = #{name}, middlepart = #{middlepart}, start =#{start}, end=#{end} 
		where code = #{code};
	</update>
	<select id="getVoteList" resultType="vote" parameterType="String">
		select 
			v.*
		from
			vote v,
			middlepart mp,
			area a,
			voter vr
		where 1
			and v.middlepart=mp.code 
			and mp.areaCode=a.areacode
			and a.areacode=vr.areacode
			and vr.code = #{votercode}
        	and not exists (select 'X' from votetf vtf where v.code = vtf.votecode and vr.code = vtf.votercode)
        	AND NOW() BETWEEN v.start AND v.end
		union
		select
			*
		from
			vote v
		where
		v.middlepart='D_DAESEON'
		AND not exists (select 'X' from votetf vtf WHERE v.code = vtf.votecode and vtf.votercode = #{votercode})
		AND NOW() BETWEEN v.start AND v.end
	</select>
</mapper>