<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="edu.ssafy.util.BoardDto" alias="boardDto" />
	</typeAliases>

	<mappers>
		<mapper resource="spring/boardSqlMapper.xml" />
	</mappers>

</configuration>