<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SafeFood_Web_Back_End_광주_3_최근창_홍강우</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>edu.ssafy.controller.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/food.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServet</display-name>
    <servlet-name>MemberServet</servlet-name>
    <servlet-class>edu.ssafy.controller.MemberServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServet</servlet-name>
    <url-pattern>/member.do</url-pattern>
  </servlet-mapping>
</web-app>