<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <style>
    body {background-color: #ffffff;}
    #second  > h2 { margin:auto; padding:0px; text-align:center; color: blue;}	
    .red {color: red;}
    #checkboxArea1{width:70%;height:30px; margin:auto; padding:20px; text-align:center; font-family: serif; font-size: 14px;}
    #checkboxArea2{width:70%;height:30px; margin:auto; padding:20px; text-align:center; font-family: serif; font-size: 14px;color: red; }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
  <div id='second'>
    <h2 v-html="title"></h2>
  </div>
  <div id='allergenes1'>
    <fieldset id="checkboxArea1">
        <legend>알레르기 체크</legend>
        <input type="radio" name="box" value="대두" v-model="alergen"/><label>대두</label>
        <input type="radio" name="box" value="땅콩" v-model="alergen"/><label>땅콩</label>
        <input type="radio" name="box" value="우유" v-model="alergen"/><label>우유</label>
        <input type="radio" name="box" value="게"  v-model="alergen"/><label>게</label>
        <input type="radio" name="box" value="새우" v-model="alergen"/><label>새우</label>
        <input type="radio" name="box" value="참치" v-model="alergen"/><label>참치</label>
        <input type="radio" name="box" value="연어" v-model="alergen"/><label>연어</label>
        <input type="radio" name="box" value="쑥"  v-model="alergen"/><label>쑥</label>
        <input type="radio" name="box" value="소고기" v-model="alergen"/><label>소고기</label>
        <input type="radio" name="box" value="닭고기" v-model="alergen"/><label>닭고기</label>
        <input type="radio" name="box" value="돼지고기" v-model="alergen"/><label>돼지고기</label>
        <input type="radio" name="box" value="복숭아" v-model="alergen"/><label>복숭아</label>
        <input type="radio" name="box" value="민들레" v-model="alergen"/><label>민들레</label>
        <input type="radio" name="box" value="계란흰자" v-model="alergen"/><label>계란흰자</label>
    </fieldset>
   <fieldset id="checkboxArea2" v-if='moreZero'>
        알러지 요인들 : <span v-html="alergen"></span>
    </fieldset>
  </div>			
  <script type="text/javascript">
  var model = {
	alergen : []
  };
  var allergenes1 = new Vue({
      el : '#allergenes1', 
      data : model,
      computed: {
         moreZero: function () {
           return this.alergen.length > 0
         }
       }
  })
  Vue.config.devtools = true;
  </script>
</body>
</html>